<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weeklycat</title>
  <link rel="stylesheet" type="text/css" href="CSS/reset.css">
  <style>
      a {text-decoration: none; color: black}
      warp {display: flex;}
  </style>
</head>
<body>
<warp>
  <div>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <a href="weekly-cat">
            <h2>주간 고양이</h2>
          </a>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </section>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <a href="weekly-dandy-cat">
            <h2>주간 멋쟁이 고양이</h2>
          </a>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </section>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <a href="weekly-draw-cat">
            <h2>주간 그림 고양이</h2>
          </a>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </section>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <a href="weekly-champion-cat">
            <h2>역대 챔피언</h2>
          </a>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </section>
  </div>
</warp>

</body>
</html>