<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weeklycat</title>
</head>
<body>
<div>
  <div>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <a href="weekly-cat">
            <h2>주간 고양이</h2>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </section>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <h2>주간 멋쟁이 고양이</h2>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </section>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <h2>주간 그림 고양이</h2>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </section>
    <section>
      <!-- 제목-->
      <div>
        <div>
          <h2>역대 챔피언</h2>
        </div>
      </div>
      <!-- 내용-->
      <div>
        <div>
          <ul>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>
            <li>
              <!--그림 -->
              <div>
                <a href="">
                  <img src="">
                </a>
              </div>
              <!--제목 -->
              <div>
                <a href="">임시 title</a>
              </div>
              <!--유저이름 -->
              <div>
                <a href="">유저이름123</a>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </section>
  </div>
</div>

</body>
</html>