<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>weeklycat</title>
  <link rel="stylesheet" type="text/css" href="CSS/reset.css">
  <link rel="stylesheet" type="text/css" href="CSS/home-style.css">
</head>
<body>
<div id="warp">
  <div id="header">
    <a href="home.html">
      <img  id="logo" src="images/s_images/Cat_logo.png"/>
    </a>
    <div id="category"></div>
    <a href="weekly-cat.html" class="cat_list">
      주간 고양이
    </a>
    <a href="weekly-dandy-cat.html" class="cat_list">
      주간 멋쟁이 고양이
    </a>
    <a href="weekly-draw-cat.html" class="cat_list">
      주간 그림 고양이
    </a>
    <a href="weekly-champion-cat.html" class="cat_list">
      주간 챔피언 고양이
    </a>
    <div id="nav">
      <a class="nav_list" href="board/write.html" >
        <img class="icon_s" src="images/s_images/post_icon.png"/>
        <span>글쓰기</span>
      </a>
      <a class="nav_list" href="">
          <img class="user_icon" src="images/s_images/user_icon.png">
      </a>
    </div>
  </div>
  <section>
    <!-- 제목-->
    <div>
      <div class="cat_title">
        <a href="weekly-cat">
          <h2>주간 고양이</h2>
        </a>
      </div>
    </div>
    <!-- 내용-->
    <div class="post_sec">
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
          <div>
            <a href="">유저이름123</a>
          </div>
        </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!-- 제목-->
    <div>
      <div class="cat_title">
        <a href="weekly-dandy-cat">
          <h2>주간 멋쟁이 고양이</h2>
        </a>
      </div>
    </div>
    <!-- 내용-->
    <div class="post_sec">
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!-- 제목-->
    <div>
      <div class="cat_title">
        <a href="weekly-draw-cat">
          <h2>주간 그림 고양이</h2>
        </a>
      </div>
    </div>
    <!-- 내용-->
    <div class="post_sec">
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <!-- 제목-->
    <div>
      <div class="cat_title">
        <a href="weekly-champion-cat">
          <h2>역대 챔피언</h2>
        </a>
      </div>
    </div>
    <!-- 내용-->
    <div class="post_sec">
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
      <div class="post">
        <!--그림 -->
        <div>
          <a href="">
            <img src="images/p_images/sub_gallery_08.jpg">
          </a>
        </div>
        <!--제목 -->
        <div>
          <a href="">임시 title</a>
        </div>
        <!--유저이름 -->
        <div>
          <a href="">유저이름123</a>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>