@media all and (min-width: 960px){
    
}

@media all and (min-width: 960px){
    #warp{

    }

    #header{
        display: flex;
        background: beige;
        line-height: 60px;
    }

    #logo{
        margin: 10px;
        width: 56px;
        height: 56px;
        vertical-align: middle;
    }

    #category{
        margin: 20px;
    }
    .cat_list{
        margin:10px;
        font-size: 1.2em;
        text-align: center;
        vertical-align: middle;
    }

    #nav{
        display: flex;
        right : 10px;
        padding: 10px;
        vertical-align: middle;
        margin-left: auto;
    }
    .nav_list{
        margin-left: 30px;
        margin-right: 30px;
        font-size: 1.2rem;
        border: gray;
        border-radius: 5%;
        border-width: 2px;
    }

    .cat_title{
        display: inline-block;
        font-size: 1.3rem;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .post_sec{
        display: flex;
        background: aquamarine;
    }
    .post{
        display: block;
        margin-left: 30px;
        margin-right:30px;
        padding: 10px;
        background: yellow;
        font-size: 1.3rem;
    }
}